<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.listeners.Listeners" />
	</listeners>
	<test name="Validate">
		<classes>
			<class name="com.cases.ValidateTopLevelMenus" />
		</classes>
	</test>
	<test name="ValidateErrorMessage">
		<classes>
			<class name="com.cases.ValidateContactUs" />
		</classes>
	</test>
	<test name="ValidateRequestDemo">
		<classes>
			<class name="com.cases.ValidateRequestDemo" />
		</classes>
	</test>
</suite>
